html {
  background: url(../img/background.jpg) no-repeat center center fixed;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;
  background: transparent;
}

a {
  color: #f26522;
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size:36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  text-transform:capitalize;
}

.padding{
  padding:90px 0;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.fa-6 {
  font-size: 20em;
}

.section-title {
  margin-bottom: 70px;
  padding-bottom: 0;
  text-align: center;
  font-weight:400;
}

.section-title h1 {
  margin-top:0;
  margin-bottom:45px;
  font-family: 'Pacifico', cursive;
  color:#fff;
  position:relative;
}

.btn-primary {
  border:1px solid #fff;
  color:#fff;
  background-color:transparent;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing:0;
  position:relative;
  box-shadow:none;
  z-index:1;
}

.btn-primary:before,
.btn-primary:after {
  position:absolute;
  content:"";
  height:100%;
  width:0;
  border-radius:4px;
  z-index:-1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-primary:before {
  left:0;
  top:0;
  border-top:2px solid #d65b21;
}

.btn-primary:after {
  right:0;
  bottom:0;
  border-bottom:2px solid #d65b21;
}

.btn-primary:hover:before {
  left:0;
  width:100%;
  background-color:rgba(242, 110, 34, 0.7);
}
.btn-primary:hover:after {
  width:100%;
  right:0;
  background-color:rgba(242, 110, 34, 0.7);
}

.btn-primary:hover,
.btn-primary:focus {
  color:#fff;
  background-color:transparent;
  box-shadow: 0px 0px 0px 1px #d65b21;
  border-color:#d65b21;
}

.parallax-section {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  width: 100%;
  min-height:437px;
  color:#fff;
  position:relative;
}

.overlay-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.form-control {
  height: 55px;
  padding:12px 18px;
  color: #000;
  border: 1px solid #ededed;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  border-color: #f26522;
  outline: 0;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.form-group {
  margin-bottom: 30px;
}

#slider-section, #home-section{
  position:relative;
  color:#fff;
  height:400px;
}

#home-wrapper {
  position:relative;
  color:#fff;
  height:750px;
}

#home-wrapper .overlay-bg,
#slider-section .overlay-bg,
#home-section .overlay-bg {
  background-color: transparent;
}

.slider-content {
  left:0;
  top:0;
  margin-top:10px;
  width:100%;
  color:#fff;
}

.slider-content h1, .slider-content h2 {
  text-shadow: 0 2px 2px rgba(0,0,0,1);
}

.slider-content h1 {
  font-family: 'Pacifico', cursive;
  font-size:86px;
  font-weight:300;
  position:relative;
  margin-top:10px;
}

span.bold{
  font-weight:800;
}

.slider-content h2 {
  font-family: 'Pacifico', cursive;
  font-size:36px;
  margin-bottom:0;
}

.slider-content .slider-logo {
  display:inline-block;
}

#our-products {
  color:#fff;
}

#our-products .overlay-bg {
  background-color:rgba(0, 0, 0, 0.50);
}

#our-products .section-title h1 {
  color:#fff;
}

#our-products .our-product {
  border:3px solid #fff;
  padding:35px;
  margin-bottom:25px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow:hidden;
}

#our-products .our-product img {
  display:inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#our-products .our-product h2 {
  margin-bottom:3px;
  font-weight:500;
}

#our-products .our-product:hover img {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateY(180deg);
}

#weekly-promo {
  background-color:#fff;
  overflow:hidden;
  max-height:575px;
  position:relative;
}

.promo-slider {
  margin-top:-225px;
}

.promo-info .section-title {
  margin-bottom:50px;
}

.promo-info .section-title h1 {
  font-family: 'Raleway', sans-serif;
  color:#5a6a72;
  font-weight:700;
}

.promo-info .section-title h1 span{
  display:block;
  font-size:24px;
  font-family: 'Pacifico', cursive;
  color:#fff;
  font-weight:400;
  margin-bottom:5px;
}

.promo-slider .promo-info{
  padding:25px;
}

.promo-slider .weekly-promo {
  color:#000;
}

.promo-slider .weekly-promo h4 {
  color:#5a6a72;
  line-height:25px;
  margin-bottom:30px;
}

.promo-slider .weekly-promo >p{
  max-width:400px;
  display:inline-block;
}

.promo-image img {
  display:inline-block;
}

.promo-slider .slide .promo-info {
  opacity:0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.promo-slider .slide.active-slide .promo-info {
  opacity:1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.promo-slider .slide .promo-image {
  position:relative
}

.promo-slider .slide .promo-image:before,
.promo-slider .slide.active-slide .promo-image:before {
  position:absolute;
  content:"";
  height:100%;
  width:100%;
  left:0;
  top:0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.promo-slider .slide .promo-image:before  {
  background-color:rgba(90, 106, 114, 0.75);
}

.promo-slider .slide.active-slide .promo-image:before  {
  background-color:inherit;
}

#promo-offer {
  background-color: rgba(109, 59, 41, 0.5);
  font-size:18px;
}

#promo-offer .overlay-bg {
  background-color:rgba(0, 0, 0, 0.57);
}

#promo-offer ol {
  font-size: 14px;
}

.promo-offer-content img{
  margin-bottom:30px;
}

.promo-offer-content >span{
  font-size: 39px;
  font-weight: 300;
  text-transform: capitalize;
}

.promo-offer-content h1 {
  font-size:60px;
  font-weight: 300;
  margin-top:0;
}

.promo-offer-content h1 span{
  font-weight:800;
}

.promo-offer-content i{
  margin-right:10px;
}

.promo-offer-content .btn-primary{
  padding:13px 33px;
  margin-top:35px;
}

#table-booking {
  position:relative;
}

#gmap {
  height:470px;
}

#contact-form .btn-primary {
  padding:15px 55px;
  display:inline-block;
  margin-top:35px;
  background-color:#f26522;
  color:#fff;
}

#contact-form .btn-primary:before {
  border-top:2px solid #dd5f23;
}

#contact-form .btn-primary:after {
  border-bottom:2px solid #dd5f23;
}

#contact-form .btn-primary:hover:before {
  background-color:rgba(206, 88, 32, 0.7);
}

#contact-form  .btn-primary:hover:after {
  background-color:rgba(206, 88, 32, 0.7);
}

#contact-form .btn-primary:hover,
#contact-form .btn-primary:focus {
  box-shadow: 0px 0px 0px 1px #dd5f23;
}

#room_type{
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background-repeat:no-repeat;
  background-position:right 20px top 23px;
}

#comments {
  background-color:#2e0202;
  font-size:18px;
}

#comments .comment {
  background-color:rgba(242, 101, 34, 0.83);
  padding:50px;
  margin-top:80px;
  margin-bottom:80px;
  max-width:555px;
}

#comments .comment i{
  font-size:75px;
}

#comments .comment img {
  margin-bottom:35px;
}

#comments .comment h2 {
  font-family: 'Pacifico', cursive;
  font-size:30px;
  margin-bottom:25px;
}

#comments .comment h4 {
  font-weight:600;
  margin-top:20px;
}

#comments .comment h4 span{
  display:block;
  font-size:14px;
  font-weight:400;
  margin-top:7px;
}

#comments .commenter img{
  display:inline-block;
  margin-top:-40px;
}

.contact-info h2 {
  font-family: 'Pacifico', cursive;
  font-size:32px;
  margin-top:8px;
  margin-bottom:25px;
}

.contact-info .footer-logo {
  margin-bottom:35px;
}

.contact-info .address {
  margin-top:25px;
  margin-bottom:20px;
}

.contact-info li {
  margin-bottom:10px;
  font-size:16px;
}

.contact-info.date li{
  font-size:18px;
}

.contact-info li  i {
  font-size:18px;
  margin-right:10px;
}

.contact-info .event{
  position:relative;
  overflow:hidden;
  margin-top:20px;
  padding:3px 0;
}

.contact-info .event-date{
  position:absolute;
  left:0;
  top:0px;
  text-align:center;
  font-size:14px;
  height:65px;
  width:65px;
  border:1px solid #e6e6e6;
}

.contact-info .event-date span{
  display:block;
  font-weight:300;
  font-size:42px;
  line-height:35px;
  margin-bottom:3px;
}

.contact-info .event-info {
  padding-left:80px;
}

.contact-info .event-info h4 {
  margin-bottom:0;
}

#countdown {
  font-size: 30px;
  color: #fff;
  line-height: 24px;
  margin: 0 0 25px;
}

.countdown-section {
  display: inline-block;
  padding: 5px 14px;
  border-right: 1px solid rgba(255,255,255,0.3);
}

.countdown-section:last-child {
  border-right: none;
}

.countdown-section b {
  font-size: 20px;
  display: block;
}

.countdown-section span {
  font-size: 12px;
  display: block;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #countdown {
    font-size: 38px;
    margin: 40px 0 45px;
    line-height: 1.1em;
  }

  .countdown-section{
    padding: 0.3em 0.7em;
  }

  .countdown-section b {
    font-size: 1em;
  }

  .countdown-section span {
    font-size: 0.4em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .countdown-section {
    display: inline-block;
    padding: 0.5em 0.7em;
    border-right: 1px solid rgba(255,255,255,0.3);
  }

  .countdown-section b {
    font-size: 1em;
    display: block;
  };
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .countdown-section b {
    font-size: 1.2em;
    display: block;
  }
}

#post-submit {
  margin-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
}

/* lg */
@media (min-width: 1400px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .special-item-image {
    min-height:205px;
  }
  .promo-slider .slide {
    margin-bottom:0 !important;
  }
  #comments .commenter img {
    margin-top:-15px;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .special-item-image {
    min-height:155px;
  }
  #our-products .our-product{
    padding:15px;
  }
  #our-products .our-product h2{
    font-size:20px;
  }
  .promo-slider {
    margin-top: -300px;
  }
  .bx-wrapper .bx-prev {
    top: 50px;
  }
  .bx-wrapper .bx-next {
    top: 480px;
  }
  #weekly-promo {
    max-height:585px;
  }
  .promo-slider .slide .promo-image{
    margin-top:80px;
  }
  #comments .commenter img {
    margin-top:40px;
  }
}


/* xs */
@media (max-width: 767px) {
  h1 {
    font-size:28px;
  }
  h2{
    font-size:20px;
  }
  h3{
    font-size:16px;
  }
  .padding {
    padding: 50px 0px;
  }
  .section-title {
    margin-bottom:30px;
    font-size:14px;
  }
  .section-title h1{
    font-size:25px;
  }
  .slider-content{
    font-size:20px;
  }
  .slider-content h1 {
    font-size: 40px;
  }
  .slider-content h1 span.pacifico, .slider-content h2 {
    font-size:24px;
  }
  #our-products {
    background-image:inherit;
  }
  .special-item-image img {
    width:100%;
  }
  .special-items .col-sm-4,
  #our-products .col-sm-3,
  .menu-items .col-sm-4{
    float:left;
    width:50%;
  }
  .special-item {
    margin-bottom: 25px;
  }
  .special-item-image {
    box-shadow:none;
    -webkit-box-shadow: none;
  }
  .special-item h2 {
    margin-bottom:15px;
  }
  .bx-wrapper .bx-prev, .bx-wrapper .bx-next {
    font-size:30px;
    left:50px;
    color:#fff;
  }
  .bx-wrapper .bx-prev {
    top: 20px;
  }
  .bx-wrapper .bx-next {
    top: 50px;
    bottom:inherit;
  }
  .bx-wrapper .bx-prev, .bx-wrapper .bx-next,
  .bx-controls-direction:before ,
  .bx-controls-direction:after,
  .promo-slider .slide .promo-image:before,
  .promo-slider .slide.active-slide .promo-image:before {
    display:none;
  }
  .promo-slider {
    margin-top: -280px;
  }
  .promo-slider .slide {
    margin-bottom:15px !important;
  }
  #weekly-promo {
    max-height:680px;
  }
  .promo-offer-content h1 {
    font-size:40px;
  }
  .promo-offer-content >span {
    font-size: 28px;
  }
  .promo-offer-image img {
    display:none;
  }
  #our-menu {
    padding-top: 45px;
  }
  #menu-accordion .accordion-heading {
    padding: 0px 0 10px;
  }
  #menu-accordion .accordion-heading h1 {
    font-size:24px;
  }
  #extras .extra-benefits .extra {
    margin-bottom: 40px;
  }
  #extras .extra-benefits i {
    font-size: 40px;
  }
  .extra-benefits .col-sm-4 {
    float:left;
    width:33.33%;
  }
  .contact-info {
    margin-bottom:35px;
  }
  #footer-bottom {
    padding: 30px 0px 20px;
  }
}

/* XS Portrait */
@media (max-width: 479px) {
  .special-item-image {
    max-height:205px;
  }
  #weekly-promo {
    max-height:700px;
  }
  .promo-slider {
    margin-top: -330px;
  }
  .special-items .col-sm-4,
  #our-products .col-sm-3,
  .menu-items .col-sm-4,
  .extra-benefits .col-sm-4{
    float:none;
    width:100%;
  }

}
